# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# PyTorch / model checkpoints
*.pt
*.pth
*.ckpt

# Large datasets
data/
datasets/

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db

CROMA/
